---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
	<main>
		
	</main>
</Layout>

<style>
    a {
        color: blue;
    }
	
</style>
